.clearout { height: 20px; clear: both; }
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 { display: none; }
.nbs-flexisel-container { max-width: 100%; padding-top: 30px; position: relative; }
.nbs-flexisel-ul { list-style-type: none; margin: 0; overflow: auto; padding: 40px 0 40px; position: relative; text-align: center; width: 99999px; }
.nbs-flexisel-inner { overflow: hidden; position: relative; width: 100%; }
.nbs-flexisel-item { float: left; margin: 0px; padding: 0px; cursor: pointer; position: relative; line-height: 0px; }
.nbs-flexisel-item img { max-width: 100%; cursor: pointer; position: relative; margin-top: 10px; margin-bottom: 10px; }
/*** Navigation ***/

.nbs-flexisel-nav-left, .nbs-flexisel-nav-right { background: transparent none no-repeat scroll center center / 16px auto; border-radius: 15px; color: #fff; cursor: pointer; padding: 16px 9px; position: absolute; top: 0; transform: translateY(0px); z-index: 4; }
.nbs-flexisel-nav-left { background-image: url("../images/arw_left.png"); right: 36px; }
/*.nbs-flexisel-nav-left:before { content: "<" }*/
.nbs-flexisel-nav-left.disabled { opacity: 0.4; }
.nbs-flexisel-nav-right { right: 5px; background-image: url("../images/arw_right.png"); }
/*.nbs-flexisel-nav-right:before { content: ">" }*/
.nbs-flexisel-nav-right.disabled { opacity: 0.4; }
